.no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  max-width: var(--maxWidth);
  display: flex;
  /* height: 88px; */
  padding: 1em;
  margin: 0 auto 6rem;
}
.home {
  flex: 0 0 auto; /* flex: 0 0 10%?; */
}
.logo {
  width: auto;
  height: 80px;
  cursor: pointer;
}

/************ HEADER > NAVIGATION BAR ************/
.navbar {
  display: flex;
  align-items: center;
  width: 90%;
}
.navbar-list {
  /* flex: 1 1 0; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav-item {
  flex: 0 0 auto;
  font-size: clamp(1em, 20vw, 1.2em);
  transition: all ease-in 0.1s;
  cursor: pointer;
}
.nav-item:hover {
  border-bottom: 2px solid #fe6655;
  transform: translateY(-3%);
}

.navlink {
  color: var(--primary-color);/* color: #423f3f; */
}
.navlink:hover,
.navlink.active { /* REMOVE? */
  color: #000000;
  /* font-size: 1em; */
  /* padding: 5px 20px; */
}
.navlink.active {
  font-weight: bold;
}

/************ NAV BUTTON ************/
.nav-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 15px;
  right: 0;
  transform: translate(-50%, 50%);
}
.navbar button {
  background-color: transparent;
}
.nav-button span { /* .menu-bar */
  width: 100%;
  background-color: var(--toggleBackground);
  height: 3px;
}

/************ LOGIN - CONTACT ************/
.navbar-btn {
  cursor: pointer;
  border: 2px solid var(--red);
  border-radius: 5px;
  color: var(--red);
  font-size: clamp(1em, 20vw, 1.2em);
  padding: 10px 15px; /* !important; */
  border-radius: 5px;
}
[data-theme='dark'] .navbar-btn {
  color: #fff;
}
.navbar-btn a {
  color: inherit;
}
.navbar-btn:hover {
  color: #fff;
  background-color: var(--darkRed);
  transition: 0.3s ease;
}
[data-theme='dark'] .navbar-btn:hover {
  /* color: #fff; */
  background-color: var(--pricingBackground);
  transition: 0.3s ease;
}
*:focus {
  outline: 0 !important;
}

.toggle-bar-mobile {
  margin: 0 54px;
  width: 58px;
  height: 24px;
  background: var(--toggleBackground) !important;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 0;
  transform: translate(-50%, 75%);
}

/************ TOGGLE BUTTON IN DARK MODE ************/

.toggle-bar {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 24px;
}

[id^=toggle-checkbox] { /* Use a class */
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #20014d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  top: 50%;
  background-color: #f1c40f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: translateY(-50%);
}
[data-theme="dark"] .slider {
  background-color: #ef5b59;
}
input:focus + .slider {
  box-shadow: 0 0 1px #20014d;
}
[data-theme="dark"] .slider:before {
  left: calc(100% - (20px + 4px));
  background-color: #f1c40f;
}
.slider {
  border-radius: 40px;
  padding: 0;
}
.slider:before {
  border-radius: 50%;
}

/***************** DARK THEME SETUP ****************/

[data-theme='dark'] .navbar {
  background-color: inherit;
}
/* [data-theme='dark'] .navlink {
  color: #ddd;
} */
[data-theme='dark'] .navlink:hover {
  color: var(--red);/* #fff; */
}
[data-theme='dark'] .navlink.active {
  color: var(--red);/* #fff; */
  font-weight: bold;
}
/* [data-theme='dark'] .navbar button {
  color: #ffff;
} */
[data-theme='dark'] .navbar-btn {
  color: var(--text);
  background-color: var(--lightBlue);
}
[data-theme='dark'] .navbar-btn:hover {
  background-color: white; /* initial ? */
  border-color: currentColor;
  color: var(--red);
}
[data-theme='dark'] .navbar-btn:active {
  box-shadow: var(--smShadow);
  transform: translateY(0.3rem);
}
[data-theme='dark'] .toggle-container {
  background: #fe6655;
}

/**************** MORE-DROPDOWN ****************/

.more-dropdown {
  position: relative;
}
.more-dropdown:hover .more-links {
  display: block;
}
.caret-down {
  margin-left: 3px;
}
.more-links {
  z-index: 1;
  position: absolute;
  left: -16px;
  display: none;
  background-color: var(--mainBackground);
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* border-radius: var(--br); */
}

[data-theme='dark'] a.sublink:hover {
  color: var(--red);/* background-color: var(--red); */
}

a.sublink {
  display: block;
  padding: 4px 16px;
  text-align: left;
  text-decoration: none;
  color: var(--primary-color); /* inherit */
}
a.sublink:hover {
  color: #000;
  /* text-decoration: underline #fe6655; */
}
[data-theme='dark'] a.sublink {
  color: var(--text);
}
a.sublink:first-child {
  margin-top: 8px;
}
.btn-more:hover {
  transition: 0.3s ease;
  /* color: #ec705d; */
}

/* *********************************
   ******** SMALLER SCREENS ********
   ********************************/

@media only screen and (max-width: 900px) {
  .toggle-bar { /* one for "desktop" (this), one on smaller screen  */
    display: none;
  }

  header {
    padding: 0 1em;
  }
  
  .navbar-list {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;/* width: 100%; bottom: 0; */
    height: 0; /* invisible onload */
    background-color: rgb(240, 234, 234);

    overflow: hidden;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;

    /* for nav-items */
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .navbar-list.open {
    height: initial; /* auto */
    /* height: 100vh; */
  }
  [data-theme='dark'] .navbar-list {
      background-color: rgb(42, 30, 30);
  }
  .more-links {
    display: block; /* none on bigger screen, desktop */
    position: initial;
    background-color: initial;
  }
  .nav-item:hover {
    border: none;
    transform: none;
    /* Consider matching their background with .sublink */
  }

  a.sublink,
  a.sublink:first-child,  /* Could use a class about */
  .navlink {              /* QUICK RESET */
    display: block;
    margin: 0;
    padding: .5em 1em;
    border: none;         /* meant for About */
  } 

  .btn-more {             /* To visually have like a single menu */
    display: none;
  }

  a.sublink,
  .nav-item + .nav-item { /* Draw a separator */
    border-top: 1px solid red;
  }
  .navbar-btns {
    margin: 2em 1em;      /* May be adjust later */
  }
}

@media only screen and (min-width: 900px) {
  .nav-button {
    display: none;
    visibility: hidden;
  }
  .toggle-bar-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .slider:before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 1px;
    background-color: #f1c40f;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}